In [60]:
import pandas as pd
import numpy as np
import yfinance as yf
import requests
from tqdm import tqdm
import time

In [61]:
# full_df = pd.read_csv('data/full_scm_with_ticker.csv')
full_df = pd.read_csv('data/SCM_Dataset_plus_MarketCap_Exchange.csv')

In [62]:
# full_df.info()

In [63]:
dat = yf.Ticker("TSLA")
# dat.info
# dat.calendar
# dat.analyst_price_targets
# dat.quarterly_income_stmt
# dat.history(period='1mo')
# dat.option_chain(dat.options[0]).calls

In [64]:
dat.info['exchange']

'NMS'

In [65]:
# full_df['Market Cap'] = None
# full_df['Exchange'] = None

In [66]:
# full_df.drop(columns = {'Unnamed: 0', 'Unnamed: 0.1'}, inplace = True)

In [67]:
full_df.head()

,Unnamed: 0,Company Name,SCM Practices,Supplier Count,Inventory Turnover Ratio,Lead Time (days),Order Fulfillment Rate (%),Customer Satisfaction (%),Technology Utilized,Environmental Impact Score,...,Supplier Relationship Score,Total Implementation Cost,Carbon Emissions (kg CO2e),Recycling Rate (%),Energy Consumption (MWh),Use of Renewable Energy (%),Green Packaging Usage (%),Ticker,Market Cap,Exchange
0,0,Apple,Agile SCM,300.0,7.0,8.0,94.0,91.0,"ERP, AI, Blockchain",70.0,...,85.0,48566365,120000,60,100000,50,40,AAPL,3.273316e+12,NMS
1,1,Microsoft,Lean Manufacturing,200.0,5.2,15.0,91.0,89.0,"ERP, AI, Robotics",75.0,...,85.0,54456148,121000,61,100500,51,41,MSFT,2.815991e+12,NMS
2,2,Google,Cross-Docking,20000.0,7.5,4.0,95.0,90.0,"AI, ERP, Blockchain",70.0,...,85.0,78733131,122000,62,101000,52,42,GOOG,1.890792e+12,NMS
3,3,Amazon,Agile SCM,500.0,10.5,15.0,95.0,90.0,"ERP, AI, Blockchain",70.0,...,85.0,1635157,123000,63,101500,53,43,AMZN,2.042389e+12,NMS
4,4,Facebook,Lean Manufacturing,100.0,5.8,12.0,89.0,88.0,"ERP, AI, Robotics",75.0,...,80.0,73150360,124000,64,102000,54,44,META,1.461263e+12,NMS

In [68]:
# full_df['Ticker'] = full_df['Ticker'].astype(str)

In [69]:
# full_df.info()

In [70]:
# full_df['Exchange'] = full_df['Exchange'].astype(str)

In [71]:
# for idx, row in tqdm(full_df.iterrows(), total=len(full_df)):
#     company_name = row["Company Name"]
    
#     # Only fetch if not already filled
#     if full_df.at[idx, "Exchange"] == 'nan':
#         ticker = row['Ticker']
#         try:
#             dat = yf.Ticker(ticker)
#             full_df.at[idx, "Exchange"] = dat.info['exchange']
#         except:
#             full_df.at[idx, "Exchange"] = None
        
#         # Sleep a bit between requests (you can tune this)
#         time.sleep(0.1)  # 1.5 seconds between calls to avoid hammering the server

In [72]:
# full_df['Market Cap'] = np.where(pd.isna(full_df["Ticker"]), None, full_df['Market Cap'])

In [73]:
# full_df.info()

In [74]:
# full_df[full_df['Exchange'] == 'None']

In [75]:
# full_df['Exchange'] = np.where(full_df['Ticker'] == 'nan', None, full_df['Exchange'])

In [80]:
full_df['Exchange'] = full_df['Exchange'].astype(str)

In [82]:
# full_df

In [83]:
np.unique(full_df['Exchange'])

array(['AMS', 'ASE', 'BER', 'BRU', 'BSE', 'BTS', 'CAI', 'CCC', 'CCY',
       'CPH', 'CXA', 'CXE', 'DUS', 'DXE', 'EBS', 'FRA', 'GER', 'HEL',
       'HKG', 'IOB', 'JKT', 'JPX', 'KOE', 'KSC', 'LSE', 'MEX', 'MIL',
       'MUN', 'NAS', 'NCM', 'NGM', 'NMS', 'NSI', 'NYQ', 'OEM', 'OSL',
       'PAR', 'PNK', 'SET', 'SHH', 'SHZ', 'SNP', 'STU', 'TAI', 'VAN',
       'VIE', 'nan'], dtype=object)

In [84]:
us_exchanges = ['ASE', 'NAS', 'NMS', 'NYQ', 'PNK']

In [86]:
full_df['US Exchange'] = np.where(full_df['Exchange'].isin(us_exchanges), True, False)

In [91]:
max_cap = full_df[full_df['US Exchange'] == True]['Market Cap'].max()
print(f'market cap: {max_cap:,}')

market cap: 3,273,315,581,952.0

In [88]:
full_df.to_csv('data/SCM_Dataset_plus_MarketCap_Exchange.csv')

## Examining Dataset w/ Market Cap

In [ ]:
mktcap_df = pd.read_csv('data/SCM_Dataset_plus_MarketCap.csv')

In [ ]:
mktcap_df.drop(columns = {'Unnamed: 0', 'Unnamed: 0.1'}, inplace = True)

In [ ]:
apple_mc = mktcap_df[mktcap_df['Company Name'] == 'Apple']['Market Cap'].values[0]
kia_mc = mktcap_df[mktcap_df['Company Name'] == 'Kia']['Market Cap'].values[0]

In [ ]:
print(f'Kia Market Cap: {kia_mc:,}')

In [ ]:
mktcap_df[mktcap_df['Company Name'] == 'Kia']

In [ ]:
dat = yf.Ticker('INKP.JK')

In [ ]:
dat.info